---
import Layout from '@layouts/Layout.astro'
import Hero from '@components/Hero.astro'
import Projects from '@components/Projects.astro'
import Contact from '@components/Contact.astro'
---

<Layout title="Ryan Jeynes | Web Portfolio">
    <header>
        <nav class="container">
            <ul>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <Hero/>
        <Projects/>
        <Contact/>
    </main>
</Layout>
