<section id="contact">
    <div class="container">
        <h2>Like my work? Get in touch</h2>
        <form id="contact-form">
            <label for="name">
                Name:
                <input type="text" name="name"/>
            </label>
            <label for="email">
                Email:
                <input type="email" name="email"/>
            </label>
            <label for="body">
                Message:
                <textarea name="body"></textarea>
            </label>
            <input type="submit" value="Send"/>
        </form>
    </div>
</section>