<form name="contact-form" method="POST" id="contact-form" action="/thanks" data-netlify="true" netlify-honeypot="bot-field">
    <p class="hidden">
        <label>
            Don't fill this out if you're human: <input name="bot-field" />
        </label>
    </p>
    <input type="hidden" name="form-name" value="contact-form" />
    <label for="name">
        Name:
        <input id="name" type="text" name="name" autocomplete="name" required/>
    </label>
    <label for="email">
        Email:
        <input id="email" type="email" name="email" autocomplete="email" required/>
    </label>
    <label for="message">
        Message:
        <textarea id="message" name="message" required></textarea>
    </label>
    <div data-netlify-recaptcha="true"></div>
    <button type="submit">Send</button>
</form>